<header class="main-header">
    <h1 class="main-header__title">
        <span class = "main-header__title" routerLink="/produtos">Sonza's Store</span>
    </h1>

    <nav class = "main-header__menu">
        <ul>
            <li>
                <a routerLink="/produtos">Produtos</a>
            </li>
            
            <li>
                <a>Lançamentos</a>
            </li>
            
            <li>
                <a>Oferta do dia</a>
            </li>     
            
            <li>
                <a routerLink="/contato">Contato</a>
            </li>     

        </ul>
    </nav>
    <app-barra-pesquisa></app-barra-pesquisa>


</header> 