<footer class = "footer">
    <div class = "footer__container">
        <section> 
            <h2 class = "footer__title"> 
                Sobre a Sonza's Store
            </h2>
            <p class = "footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at massa tempor, porttitor nisl nec, porta massa. Vivamus lobortis laoreet justo eget tempus. Phasellus venenatis nibh vitae eros varius fermentu.
            </p>
        </section>
    </div>
    <nav class = "main-footer_contatos">
        <h2 class = "footer__title1">Redes sociais</h2>
        <ul>
            <li>
                <a><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </nav>
    
    <section class="footer__copyright">
        &copy; 2022 S.Store. Todos os direitos reservados.
    </section>
    
</footer>


