*{
  background-color: rgb(223, 223, 223);
}
.container {
    width: "80%";
    margin: auto;
    padding: 30px 0 30px 0;
  }
.footer_container{
  width:"80%";
  margin: auto;
  padding: 20px;
}
.footer_container{
  width:"80%";
  margin: auto;
  padding: 30px 0 30px 0;
}

