.not-found_container{
    width:"80%";
    margin: auto;
    padding: 30px 0 50px 0;
  }
  
  .not-found h1 {
    padding: 150px 250px;
    background-color: white;
    
  }

  .not-found_title{
    font-size: 40px;
  }

